@import "common.css";
.radio{
    margin: 3%;
    margin-right: 15vw;
    margin-bottom: 0;
}
.radio-label{
    direction: ltr;
}

.add-label{
    width: 100%;
    text-align: left;
}
.add-input{
    width: 100%;
    height: 6vh;
    border-radius: 5px;
    border: thin solid lightgrey;
    padding: 2%;
}
.mar-left-add{
    margin-left: 11vw;
    margin-bottom: 5vh;
}


.empty-label-height{
    height: 2.5vh;
}

.flex-middle-respon{
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}
.form-container{
    margin-bottom: 5vh;
}



@media all and (max-width:768px){
    .mar-left-add{
        margin-left: 0;
    }
    .flex-middle-respon{
        display: inline-block;
        margin-bottom: 3vh;
    }
}
