.inc-fund{
    margin: 5%;
}
.add-input{
    width: 100%;
    height: 6vh;
    border-radius: 5px;
    border: thin solid lightgrey;
    padding: 2%;
}
.add-label{
    width: 100%;
    text-align: left;
}

.inc-fund-butt{
    width: 100% !important;
    margin: 5% 0%;
    
}
.curr-fund{
    padding: 2%;
    text-align: right;
    margin: 5% 0;
    font-weight: 500;
}
.fund-height{
        height: 67vh;
}

@media all and (max-width:768px){
  .inc-fund{
    margin: 0%;
    }  
}