body {
    font-family: Shabnam;
}
.white {
    color: white;
}
.black {
    color: black;
}
.purple {
    color: #4c0d6b
}
.light-blue-background {
    background-color: #3ad2cb
}
.white-background {
    background-color: white;
}
.dark-green-background {
    background-color: #185956;
}
.font-bold {
    font-weight: 800;
}
.font-light {
    font-weight: 200;
}
.font-medium {
    font-weight: 600;
}
.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-column {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.text-align-right {
    text-align: right;
}
.text-align-left {
    text-align: left;
}
.text-align-center {
    text-align: center;
}
.no-list-style {
    list-style: none;
}
.clear-input {
    outline: none;
    border: none;
}
.border-radius {
    border-radius: 9px;
}

.has-transition {
    -webkit-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
}

.marg-bottom{
    margin-bottom: 3vh;
}

.padd{
    padding: 2%;
}

.flex-center{
    display: flex;
    align-items: center;
}
.flex-middle{
    display: flex;
    justify-content: center;
}
.purple-background{
    background: rgb(90,85,155);
}
.black-font{
    color: black;
}
.light-grey-font{
    color:  rgb(148,148,148);
}
.yellow-background{
    background: rgb(222,220,47);
}