@import "common.css";

.social-network-icon {
    max-width: 20px;
}
.site-footer {
    padding: 1% 4%;
    height: 8vh;
    direction: rtl;
}
.social-icons-list > li {
    display: inline-block;
    margin-right: 3%;
}

@media (max-width: 768px) {
    .site-footer {
        height: 13vh;
    }
}
@media (max-width: 320px) {
    .site-footer > .row > .col-xs-12:first-child {
        margin-top: 5%;
    }
}
