.house-img{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.phone-display{
     margin: 0%;
    width: 100% !important;
}

.house-img-mar{
    margin: 5% 0%;
}
.info-label{
    padding: 2%;
    border-radius: 5px;
    margin: 5% 0;
}

.house-info{
    margin: 5% 0;
    margin-right: 2%;
    
}
.info-lines{
    border-bottom: thin solid ;
    border-bottom-color: lightgrey;
    padding: 3%;
    margin-left: 3%;
    margin-top: 5%;
}