@import "common.css";
@import "animations.css";
body {
    font-family: Shabnam;
    overflow-x: hidden;
}
.logo-section {
    margin-bottom: 7%;
    text-align: center;
}
.logo-image {
    max-width: 120px;
}

.slider {
    height: 100vh;
    margin: 0 auto;
    position: relative;
}
.header-main {
    z-index: 999;
    top: 3vh;
    position: absolute;
}
.header-main-boarder {
    border: thin solid white;
    border-radius: 10px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    left: 0;
    top: 5vh;
}
.slider-column {
    padding: 0;
}
.slide1,.slide2,.slide3,.slide4 {
    position: absolute;
    width: 100%;
    height: 100%;
}
.slide1 {
    background: url(../assets/images/Banner/michal-kubalczyk-260909-unsplash.jpg) no-repeat 90% 80%;
    background-size: cover;
    animation:fade 10s infinite;
    -webkit-animation:fade 10s infinite;


}
.slide2 {
    background: url(../assets/images/Banner/mahdiar-mahmoodi-452489-unsplash.jpg)no-repeat center;
    background-size: cover;
    animation:fade2 10s infinite;
    -webkit-animation:fade2 10s infinite;
}
.slide3 {
    background: url(../assets/images/Banner/casey-horner-533586-unsplash.jpg)no-repeat center;
    background-size: cover;
    animation:fade3 10s infinite;
    -webkit-animation:fade3 10s infinite;
}
.slide4 {
    background: url(../assets/images/Banner/luke-van-zyl-504032-unsplash.jpg)no-repeat center;
    background-size: cover;
    animation:fade4 10s infinite;
    -webkit-animation:fade4 10s infinite;
}

.submit-house-button,
.submit-house-button:visited,
.submit-house-button:hover {
    text-decoration: none;
    outline: none;
    cursor: pointer;
}
.features-section {
    position: relative;
    margin-top: -5vh;
}



input[type=radio] {
    font-size: 16px;
}

.input-label {
    font-weight: lighter;
    font-size: 16px;
    margin-left: 15%;
}

.feature-box {
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
    margin-left: 2%;
    height: 36vh;
    width: 29% !important;
    min-height: 42vh;
}
.features-container > .feature-box:nth-child(2) {
    margin-left: 5%;
}
.features-container > .feature-box:nth-child(3) {
    margin-left: 5%;
}
.feature-box > div > img {
    max-width: 70px;
}
.why-us {
    margin-top: 6%;
    margin-bottom: 6%;
}
.why-us-img {
    max-width: 300px;
}
.why-list {
    list-style: none;
    display: block;
    color: black;
    padding: 0;
}
.why-list > li {
    margin-top: 3%;
}
.why-list > li > i {
    margin-left: 2%;
}
.why-us-img-column {
    text-align: right;
}
.reasons-section {
    text-align: right;
    direction: rtl;
    padding: 0;
}


@media (max-width: 768px) {
    .header-main-boarder {
        width: 40%;
        margin-left: 1%;
    }
    .mobile-header {
        margin-top: -12%;
    }
    .logo-image {
        max-width: 90px;
    }
    .main-title {
        font-size: 20px;
    }
    .feature-box {
        width: 100% !important;
        margin-bottom: 5%;
        margin-left: 0;
    }
    .features-container > .feature-box:nth-child(2) {
        margin-left: 0;
    }
    .features-container > .feature-box:nth-child(3) {
        margin-left: 0;
    }
    .why-us-img {
        max-width: 247px;
    }
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    left: 0;
    top: 8vh;
}
}
@media (max-width: 320px) {
    .mobile-header {
        margin-top: -12%;
    }
}
