@import "common.css";

button:focus {outline:0;}
input[type="button"]{
    outline:none;
    padding: 0;
    border: none;
    box-shadow: 0 2px 80px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
}
input[type="button"]::-moz-focus-inner {
    padding: 0;
border: none;
}

footer{
    height: 13vh;
    background: rgb(28,89,86);
}
.nav-logo{
    float: right;

}
.nav-cl{
    display: flex;
    flex-direction: row;
    position: fixed;
    height:10vh;
    background-color: white;
    box-shadow:    0px 2px 30px rgba(0, 0, 0, 0.1);
    overflow: visible;
    width: 100%;
    z-index: 9999;
}

.flex-center{
    display: flex;
    align-items: center;
}
.flex-middle{
    display: flex;
    justify-content: center;
}
.purple-font{
    color: rgb(91,85,155);
}
.blue-font{
    color: rgb(68,209,202);
}
.grey-font{
    color:rgb(150,150,150);

}
.light-grey-font{
    color:  rgb(148,148,148);
}
.black-font{
    color: black;
}
.white-font{
    color: white;
}
.pink-font{
    color: rgb(240,93,108);
}
.pink-background{
    background: rgb(240,93,108);
}
.purple-background{
    background: rgb(90,85,155);
}
.text-align-center{
    text-align: center;
    direction: rtl;
}

.text-align-right{
    text-align: right;
    direction: rtl;
}
.margin-auto{
    margin: auto;
}
.no-padding{
    padding: 0;
}
.icon-cl{
    max-height: 7vh;
    max-width: 7vw;
}
.flex-row-rev{
    display: flex;
    text-decoration: none;
    flex-direction: row-reverse;
}
.flex-row-rev:hover {
    text-decoration: none;
}
.search-theme{
    background: url("../assets/images/pattern/geometry2.png");
    height: 15vh;
    margin-top: 10vh;
}
.mar-5{
    margin: 5%;
}
.padd-5{
    padding: 5%;
}
.house-card{
    box-shadow: 0px 2px 20px rgba(0,0,0,0.4);
    height: 350px;
    margin-bottom: 5vh;
    margin-right: 5.5vw;
    float: right;
}
.border-radius{
        border-radius: 10px;

}
.house-img{
      background-size: 100%;
    /* max-height: 100%; */
    height: 100%;
    /* height: 97%; */
    background-repeat: no-repeat;
    /* background-origin: content-box; */
    background-position: center;
}

.img-height{
    height: 200px;
}
.border-bottom{
    margin-bottom: 2vh;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 2vh;
    border-bottom: thin solid black;

}

.mar-left{
    margin-left: 5.5vw;
    margin-bottom: 5vh;
}
.mar-top{
 margin-top: 3vh;
}
.mar-bottom{
    margin-bottom: 13%;
    margin-left: 2.5vw;
    width: 93% !important;
}
.blue-button{
   width: 13vw;
    height: 5vh;
    margin: auto;
    background: rgb(68,209,202);
    border-radius: 10px;
    padding: 3%;
}
.icons-cl{
    width: 3vw;
    height: 5vh;

}

input[type="button"]:hover{
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

input[type="button"]:focus{
    box-shadow: 0 0px 40px rgba(0,0,0,0.15);
}

.mar-top-10{
    margin-top: 2%;
}

.padding-right-price{
    padding-right: 7%;
}

.margin-1{
    margin-left: 3%;
    margin-right: 3%;
}
.img-border-radius{
    border-radius: 10px 10px 0px 0px;
}
.main-form-search-result {
    position: relative;
    margin: auto;
    margin-top: -7%;
    margin-bottom: 6%;
}

#img-1{
    background-image: url(../assets/images/villa1.jpg);
}
#img-2{
    background-image: url(../assets/images/villa2.jpg);
}
#img-3, #img-4, #img-5{
    background-image: url(../assets/images/underwater.jpg);
}



/*dropdown css codes*/
.dropdown {
    position: relative;
}

.dropdown-content {
        display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    left: 2vw;
    top: 7.5vh;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.price-heading {
    display: inline-block;
    width: 100%;
}
/*media queries for responsive utilities*/

@media all and (max-width:768px){
    .main-form {
        margin-bottom: 34%;
        margin-top: -12%;
    }
    .mar-left{
        margin: 0;
    }
    .icons-cl{
       width: 13vw;
        height: 7vh;
    }
    .footer-text{
        text-align: center;
        font-size: 12px;
    }
    .icons-mar{
        margin-top: 5%;
    }
    .house-card {
        margin-bottom: 5%;
    }
    .blue-button {
    width: 50vw;
    height: 5vh;
    margin: auto;
    background: rgb(68,209,202);
    border-radius: 10px;
    padding: 3%;
    }
    .dropdown-content{
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
        left: 12vw;
        top: 10vh;
    }
    .house-card{
        box-shadow: 0px 2px 20px rgba(0,0,0,0.4);
        height: 350px;
        margin-bottom: 5vh;
        margin-right: 0;
        float: right;
    }

}
