@import "common.css";

.main-form {
    position: absolute;
    top: 14vh;
}
.search-section, .submit-home-link {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2%;
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
}

.second-part {
    margin-top: 4%;
}

.submit-home-link {
    margin-top: 2%;
    padding: 5px;
    direction: rtl;
}
.search-button {
    width: 80%;
    min-height: 5vh;
    box-shadow: 0 2px 80px rgba(0, 0, 0, 0.1);
}
.search-button:visited {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.15);
}
.search-button:hover {
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
}
.search-input {
    width: 100%;
    border-radius: 10px;
    min-height: 5vh;
}
.search-input::placeholder{
    padding-right: 4%;
}

select {
    height: 5vh;
    color: black;
    direction: rtl;
}
.deal-type-section {
    text-align: right;
}

@media (max-width: 768px) {
    .input-label {
        margin-left: 1%;
    }
    .search-button {
        display: block;
        margin: 5% auto;
    }
}
