
@font-face {
  font-family: Shabnam;
  src: url(../assets/fonts/Shabnam-Light.eot);
  src: url(../assets/fonts/Shabnam-Light.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/Shabnam-Light.woff) format("woff"), url(../assets/fonts/Shabnam-Light.ttf) format("truetype");
  font-weight: 100
}
@font-face {
  font-family: Shabnam;
  src: url(../assets/fonts/Shabnam.eot);
  src: url(../assets/fonts/Shabnam.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/Shabnam.woff) format("woff"), url(../assets/fonts/Shabnam.ttf) format("truetype");
  font-weight: 600
}
@font-face {
  font-family: Shabnam;
  src: url(../assets/fonts/Shabnam-Bold.eot);
  src: url(../assets/fonts/Shabnam-Bold.eot?#iefix) format("embedded-opentype"), url(../assets/fonts/Shabnam-Bold.woff) format("woff"), url(../assets/fonts/Shabnam-Bold.ttf) format("truetype");
  font-weight: 700
}

.persian {
    direction: rtl;
  font-family: Shabnam;
    color: white;
}

.persian-bold{
    direction: rtl;
    font-family: Shabnam;
    font-weight: bold;
}

@media all and (max-width:768px){
    .persian{
         direction: rtl;
        font-family: Shabnam;
        color: white;
        font-size: small;
    }
    .persian-bold{
        direction: rtl;
        font-family: Shabnam;
        font-weight: bold;
        font-size: small;
    }
}